This will be used to publish the package to the NPM registry. The necessary credentials are stored in the chorus-infrastructure-packages variable group and will be added during publishing pipeline build.